
.container {
  display: flex;
  align-items: center; 
}
.navbar{
  background-color: #003580;
}


.logo {

  margin-right: auto; 
}


.navLinks {
  margin-left: auto; 

}
.btn1{
  color: white;
  border: 1px solid white;
}
.btn2{
  color: #003580;
  background-color: white;
}
.navLinks ul {
  margin-right: 200px;
}
.navLinks li {
  display: inline-block;
  margin-right: 30px;
}
